<nav>
    <ul>
        <!-- 인증 여부 상관 없이 보임 -->
        <li>
            {{ request.user }}님 안녕하세요!
        </li>
        <!-- 인증(로그인)된 사용자라면-->
        <li><a href="{% url 'blog:posting_index' %}">Blog Home</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'blog:create_posting' %}">New Posting</a></li>
        <li>
            <a href="{% url 'accounts:signout' %}">Logout</a>
        </li>
        <!-- 인증(로그인)되지 않은 사용자라면-->
        {% else %}
        <li>
            <a href="{% url 'accounts:signin' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'accounts:signup' %}">Signup</a>
        </li>

        {% endif %}
    </ul>
</nav>

